/*@import url(fullpage-nav.css);*/


/* tam thoi chua can dung */

@import url(about-slideshow.css);
@import url(prj-hover-effect.css);
@import url(navigation-bar.css);
@import url(fonts.css);
@import url(prj-flip-cards.css);
@import url(col-align.css);
@import url(contacts-icon.css);
@media only screen and (min-width: 1600px) {
    /*for large desktop*/
    #first_page,
    #about,
    #projects,
    #contact {
        background-size: 100% auto;
    }
}
@media only screen and (max-width: 600px) {
    img,
    .custom-pic {
        max-width: 50px;
    }
}
body {
    -webkit-font-smoothing: antialiased;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    text-rendering: optimizeLegibility;
    /*    background-color: antiquewhite;*/
}
* {
    box-sizing: border-box;
}
#avatar {
    border-radius: 100%;
    max-width: 100px;
    border: 1px solid white;
    background-color: beige;
}
.username {
    font-family: 'Playball', cursive;
    color: darkslategrey;
    font-size: 50px;
    text-align: center;
}
.section {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 800px;
    min-width: 800px;
}
.welcome-p {
    font-family: 'Poiret One';
    font-size: 20px;
    font-weight: bold;
}

/* Page title format & alignment*/
.flex-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: inherit;
    height: auto;
    position: absolute;
    top: 45px;
}
.title-center {
    font-family: 'Chelsea';
    font-weight: bold;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 7px;
}
.nairobi-font {
    font-family: 'Nairobi';
    font-size: 220%;
    font-weight: 600;
    min-width: 350px;
    padding: 5% 0 5% 0;
    position: inherit;
    top: 7%;
}

/**/

button {
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
    background-color: #1178ff;
    border: 0px;
    padding: 8px 8px 8px 8px;
    margin-left: 20px;
}
button:hover {
    background: #e3e3e3;
}

/*Home Page*/

#first_page {
    /*background: url("https://unsplash.it/1910/1221?image=626") no-repeat;*/
    background: url("/images/quartz.jpg");
    background-size: cover;
}

/*About Me*/

#about {
/*    background: url("/images/about2.jpg");*/
    background: rgb(255,111,111);
    background-size: 110% auto;
}

/*My Projects*/

#projects {
    background: rgb(40,150,120);
}

/*Contact Me*/

#contact {
    background: coral;
}
/*
.card {
    background: rgba(255, 255, 255, 0.35);
    text-align: center;
    font-family: 'Nairobi';
    font-size: 120%;
    border-radius: 10px;
    margin: 2% 15%;
}
*/
.image-wrapper img {
    max-width: 65% !important;
    height: auto;
    /*    display:block;*/
}
.custom-pic {
    position: relative;
    right: 20%;
    margin-top: 0%;
    margin-left: 10%;
    border: 1px solid #ada;
    border-radius: 15%;
    /*    max-width: 230px;*/
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}
